Repository 34th-Arma-Company/34th-PRC-Aux-Mod, changes with the labels that .github/labeler.yml gives for each.
All labels: meta, area: config, area: model, area: texture, area: script

.github/labeler.yml:

meta:
- changed-files:
    - any-glob-to-any-file: ['!src/**']

"area: config":
- changed-files:
    - any-glob-to-any-file: ['src/**/*.hpp', 'src/**/*.cpp']

"area: model":
- changed-files:
    - any-glob-to-any-file: ['src/**/*.p3d']

"area: texture":
- changed-files:
    - any-glob-to-any-file: ['src/**/*.paa', 'src/**/*.png']

"area: script":
- changed-files:
    - any-glob-to-any-file: ['src/**/*.sqf']

Tidy up
  src/Addons/34thPRC_ArmourStandard/data/spi/config_weapons.hpp
Labels: area: config

Actually invisible exosuit
  src/Addons/34thPRC_ArmourStandard/data/exosuit/config_vehicles.hpp
Labels: area: config

No active camo yet
  src/Addons/34thPRC_ArmourStandard/data/spi/config_vehicles.hpp
Labels: area: config

Rename and white space
  src/Addons/34thPRC_ArmourStandard/data/exosuit/config_vehicles.hpp
Labels: area: config

MKIV New Textures
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Helmet1.png
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Helmet2.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Helmet2.png
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Helmet3.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Shoulders2.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Shoulders3.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper1.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper1.png
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper2.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper2.png
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper3.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34th_MKIV_Helmet1.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34th_Shoulders1.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Visor_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_weapons.hpp
Labels: area: config, area: texture

Update config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_vehicles.hpp
Labels: area: config

remove SPI folder
  src/Addons/34thPRC_ArmourStandard/data/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/exosuit/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/spi/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/spi/config_weapons.hpp
Labels: area: config

Webknight opensource
  src/Addons/34thPRC_ArmourStandard/config.cpp
  src/Addons/34thPRC_ArmourStandard/scripts/XEH_postInit.sqf
  src/Addons/34thPRC_ArmourStandard/scripts/XEH_preInit.sqf
  src/Addons/34thPRC_ArmourStandard/scripts/createSoundGlobal.sqf
  src/Addons/34thPRC_ArmourStandard/scripts/wbk_arrow.paa
Labels: area: config, area: texture, area: script

Add basic pilot helmet
  src/Addons/34thPRC_ArmourStandard/config.cpp
  src/Addons/34thPRC_ArmourStandard/data/aircrew/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/config_weapons.hpp
Labels: area: config

Add Urban camo
  src/Addons/34thPRC_ArmourStandard/data/aircrew/config_weapons.hpp
Labels: area: config

Updated changelog
  src/changelog.md
Labels: none

Alphabetical order
  src/Addons/34thPRC_ArmourStandard/data/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/config_weapons.hpp
Labels: area: config

Remove extra
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Helmet1.png
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Helmet2.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Helmet2.png
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Helmet3.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Shoulders2.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Shoulders3.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper1.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper1.png
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper2.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper2.png
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper3.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34th_MKIV_Helmet1.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34th_Shoulders1.paa
Labels: area: texture

Tidy up names a bit
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Helmet.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Shoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_weapons.hpp
Labels: area: config, area: texture

Update MKIV_Visor_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Visor_CO.paa
Labels: area: texture

Update changelog.md
  src/changelog.md
Labels: none

Feature/mkiv (#87)
  src/Addons/34thPRC_ArmourStandard/data/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Helmet.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Shoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Lower_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Visor_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_weapons.hpp
  src/changelog.md
Labels: area: config, area: texture

version bump
  src/changelog.md
Labels: none

0.4.0 (#88)
  src/changelog.md
Labels: none

Set up classes for different camos
  src/Addons/34thPRC_ArmourStandard/data/aircrew/config_weapons.hpp
Labels: area: config

Added classes for visorless helmet selections
  src/Addons/34thPRC_ArmourStandard/data/marines/config_weapons.hpp
Labels: area: config

Changelog update
  src/changelog.md
Labels: none

Cleaned up hidden selections so that "_Visor" is inherited from HaloInf_Marine_DES_UNSC_NV_headgear instead of including it on our classes.
  src/Addons/34thPRC_ArmourStandard/data/marines/config_weapons.hpp
Labels: area: config

Add visorless helmets (#91)
  src/Addons/34thPRC_ArmourStandard/data/marines/config_weapons.hpp
  src/changelog.md
Labels: area: config

Downsized the map marker paa files and added Satan Actual marker
  src/Addons/34thPRC_Markers/config.cpp
  src/Addons/34thPRC_Markers/data/company_emblem.paa
  src/Addons/34thPRC_Markers/data/mammon_1-1.paa
  src/Addons/34thPRC_Markers/data/mammon_1-2.paa
  src/Addons/34thPRC_Markers/data/mammon_1-a.paa
  src/Addons/34thPRC_Markers/data/satan_1-a.paa
  useful pngs/unit badges/Satan_1-A.png
Labels: meta, area: config, area: texture

Updated changelog
  src/changelog.md
Labels: none

NV -> No visor
  src/Addons/34thPRC_ArmourStandard/data/marines/config_weapons.hpp
Labels: area: config

NV -> No visor (#94)
  src/Addons/34thPRC_ArmourStandard/data/marines/config_weapons.hpp
Labels: area: config

Satan is 2nd platoon
  src/Addons/34thPRC_Markers/config.cpp
  src/Addons/34thPRC_Markers/data/satan_2-a.paa
Labels: area: config, area: texture

Woops, forgot to fix the name on this too
  useful pngs/unit badges/Satan_2-A.png
Labels: meta

fulfilled Jades update request
  src/Addons/34thPRC_Markers/config.cpp
  src/Addons/34thPRC_Markers/data/satan_2-a.paa
Labels: area: config, area: texture

Fixed paa files
  src/Addons/34thPRC_Markers/data/company_emblem.paa
  src/Addons/34thPRC_Markers/data/mammon_1-1.paa
  src/Addons/34thPRC_Markers/data/mammon_1-2.paa
  src/Addons/34thPRC_Markers/data/mammon_1-a.paa
  src/Addons/34thPRC_Markers/data/satan_2-a.paa
Labels: area: texture

map marker compression and satan marker (#93)
  src/Addons/34thPRC_Markers/config.cpp
  src/Addons/34thPRC_Markers/data/company_emblem.paa
  src/Addons/34thPRC_Markers/data/mammon_1-1.paa
  src/Addons/34thPRC_Markers/data/mammon_1-2.paa
  src/Addons/34thPRC_Markers/data/mammon_1-a.paa
  src/Addons/34thPRC_Markers/data/satan_2-a.paa
  src/changelog.md
  useful pngs/unit badges/Satan_2-A.png
Labels: meta, area: config, area: texture

Config set up and baseline textures prepared for later
  src/Addons/34thPRC_ArmourStandard/data/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/spi/34_SPI_Helmet.paa
  src/Addons/34thPRC_ArmourStandard/data/spi/34th_SPI_Armor.paa
  src/Addons/34thPRC_ArmourStandard/data/spi/SPI_Visor_Standard.paa
  src/Addons/34thPRC_ArmourStandard/data/spi/config_weapons.hpp
Labels: area: config, area: texture

Update changelog
  src/changelog.md
Labels: none

Update changelog (#95)
  src/changelog.md
Labels: none

Saves me removing the brackets when I do releases
  src/changelog.md
Labels: none

Remove [ ] from changelog (#96)
  src/changelog.md
Labels: none

Update stale.yml
  .github/workflows/stale.yml
Labels: meta

Update stale.yml
  .github/workflows/stale.yml
Labels: meta
